@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

body {
    margin: 0;
    padding: 0;
}
.App {
    display: flex;
    flex-direction: column;
    font-family: 'PT Sans', sans-serif;
    width: 100%;
    height: 60.5em;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3em;
    background: black;
    font-size: 1.4em;
    color: #999999;
}
.header_left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 52%;
    margin-left: 0.6em;
}

.header_right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 0.7em;
    width: 25%;
}
.header_select {
    display: inline-block;
    width: 60px;
    height: 24px;
    line-height: 30px;
    position: relative;
    border: none;
    color: white;
    background-color: black;
    overflow-x: scroll;
}
.header_task {
    font-size: 0.9em;
    color: #999999;
    text-decoration: none;
}
.active{
    font-size: 0.9em;
    color: white;
    text-decoration: none;
}
.header_task:hover {
    color: white;
}
.Header_finance {
    font-size: 0.9em;
    color: #999999;
    text-decoration: none;
}
.Header_finance:hover {
    color: white;
}
.Header_company {
    font-size: 0.9em;
    color: #999999;
    text-decoration: none;
}
.Header_company:hover {
    color: white;
}
.Header_stats {
    font-size: 0.9em;
    color: #999999;
    text-decoration: none;
}
.Header_stats:hover {
    color: white;
}
.logo {
    color: white;
    font-size: 1.2em;
    margin-right: 0.1em;
    font-weight: bold;
}
.header__tasks {
    font-size: 0.9em;
    color: #999999;
    text-decoration: none;
}
.question_mark {
    widows: 25px;
    height: 25px;
}
.tasks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 28em;
    width: 95%;
    margin-left: 2em;
    margin-top: 2em;
}
.tasks_name {
    display: flex;
    font-size: 2em;
}
.tasks_upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
    font-size: 1.3em;
    width: 60%;
    border-bottom: 2px solid #666666;
}
.tabs {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    border-bottom: 1px solid #999999;
    margin-top: 1em;
    font-size: 1.3em;
}
.header__tasks {
    margin-right: 3em;
}
.header__tasks_active {
    margin-right: 3em;
    border-bottom: 2px solid orange; 
    font-size: 0.9em;
    color: #999999;
    text-decoration: none;
}
.header__tasks:hover {
    border-bottom: 2px solid orange;
}
.Tasks_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    width: 50%;
}
.input {
    border: solid 1px #999999;
    width: 20em;
    height: 3em;
}
.checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.checkbox > span {
    color: #34495E;
    padding: 0.3rem 0.5rem;
}

.checkbox > input {
    height: 25px;
    width: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #999999;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color: white;
    cursor: pointer;
  }

.checkbox > input:checked {
    border: 1px solid #999999;
    background-color: white;
}

.checkbox > input:checked + span::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: #666666;
    position: absolute;
    left: 0.4rem;
    top: -0.12rem;
}
.checkbox > input:active {
    border: 2px solid #34495E;
}
.tasks_under {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20em;
}
.filters_ {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1em;
    width: 45%;
    justify-content: space-between;
}
.tasks_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    widows: 90%;
    /* underline */
    margin-top: 1em;
    border-bottom: 1px solid #999999;
}
.button {
    position: absolute;
    right: 3em;
    top: 4.7em;
    height: 60px;
    width: 60px;
    color: white;
    font-size: 2em;
    border-color: #ff6633;
    border-radius: 50%;
    background-color: #ff6633;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;;
}
.input_filter {
    width: 15em;
    height: 2em;
    text-indent: 10px;
}
.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.none {
    display: none;
}
.taskForm {
    height: 40em;
    position: absolute;
    opacity: 95%;
    text-align: center;
    top: 12em;
    left: 22em;
    width: 72em;
    background: grey;
    z-index: 10;
}
.taskForm_Content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-left: -4em;
    height: 30em;
    width: 100%;
}
.taskForm_Button{
    width: 100px;
    height: 23px;
    margin-left: 2.5em;
}
.taskForm_Content_spans {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    height: 20em;
}
.taskForm_Content_inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 23.7em;
    margin-left: 2em;
    margin-top: 4em;
}
.main_select {
    border: none;
    width: 60px;
    height: 35px;
    font-size: 18px;
}

/* Table */
.table_header{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid #999999;
    font-size: 0.8em;
    color: #999999;
}

.city {
    margin-left: 18em;
}
.tittle {
    margin-left: 17em;
}
.deadline {
    margin-left: 73em;
}
.money {
    margin-left: 15em;
}